<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
	<title>Library</title>
	<th:block th:include="fragments/includes :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div class="container">
		<h1>Error</h1>
		<h2>Application has encountered an error. Please contact support.</h2>
		<span th:text="${url}">Error was not identified</span>  
		<table>
			<tr th:each = "ex : ${exceptions}">
				<td th:text="${ex}">Wiadomoœæ</td>
			</tr>
		</table>		 
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>