<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang = "en">
<head>
	<title>Library</title>
	<th:block th:include="fragments/includes :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to our Library</h1>
			<h2>Ala ma kota</h2>
		</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>