<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang = "en">
<head>
	<title>Library</title>
	<th:block th:include="fragments/includes :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div class="container">
		<form role="form" th:action="@{${action}}" th:object="${form}" method="post">
		
			<ul class="list-of-errors-in-form" th:each="err : ${#fields.errors('*')}">
			    <li class="alert alert-danger"><span>Warning!</span> <span th:text="${err}"></span></li>
			</ul>
		
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<div class="form-group">
				<label for="email">Email:</label> 
				<input type="text"
					th:field="*{email}"				
					class="form-control" 
					id="email" 
					name="email"/>
			</div>
			<div class="form-group">
				<label for="password">Password:</label> 
				<input type="password"
					th:field="*{password}"
					class="form-control" 
					id="password" 
					name="password"/>
			</div>
			<div class="form-group">
				<label for="password">Repeated password:</label> 
				<input type="password"
					th:field="*{passwordRepeated}"
					class="form-control" 
					id="passwordRepeated" 
					name="passwordRepeated"/>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>