<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang = "en">
<head>
<title>Library</title>

<meta charset="utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1" />

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}"
	rel="stylesheet" />

<link href="../static/css/style.css" th:href="@{css/style.css}"
	rel="stylesheet" media="screen" />

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<!--<button type = "button" class="navabar-toggle" data-toggle="collapse" data-target = "#fancy-navbar">
							<span class = "sr-only">Toggle navigation</span>
							<span class = "icon-bar"></span>
							<span class = "icon-bar"></span>
							<span class = "icon-bar"></span>
						</button>-->
						<a class="navbar-brand" href="/">Biblioteka</a>
					</div>

					<div class="collapse navbar-collapse" id="fancy-navbar">
						<p class="navbar-text navbar-right" sec:authorize="isAuthenticated()">Logged in as <a th:href="@{'/user/'+${currentUser.user.id}}" th:text = "${currentUser.Username}"></a></p> 
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="/">Home</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> Available actions <b class="caret"></b>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/books">Search library</a></li>
									<li class="divider"></li>
									<li><a href="/users">List users</a></li>
									<li><a href="#">Something else</a></li>
								</ul></li>
								<li sec:authorize="isAuthenticated()"><a href="/logout">Log out</a></li>
								<li sec:authorize="isAnonymous()"><a href="/public/create">Register</a></li>
								<li sec:authorize="isAnonymous()"><a href="/login">Log in <i class="fa fa-key"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>